/* line 5, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.mainbar {
  background-color: #202C39;
}

/* line 8, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

/* line 14, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.navbar-nav .nav-item .nav-link {
  color: white !important;
}

/* line 20, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid {
  background-image: linear-gradient(to right, #B8B09D, #F2D492);
}

/* line 24, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info .para {
  display: flex;
  justify-content: center;
}

/* line 27, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info .para #aboutMe {
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
  padding: 3px;
  font-size: 20px;
  margin-top: 30px;
  border: 2px solid grey;
  width: 60%;
  background-color: #F2D492;
  font-family: Helvetica;
}

/* line 40, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info .mepic {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* line 45, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info .mepic img {
  width: 35%;
  height: 300px;
}

/* line 50, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* line 56, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv span {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 6;
}

/* line 64, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #T {
  animation-delay: .2s;
}

/* line 67, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #firstE {
  animation-delay: .4s;
}

/* line 70, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #v {
  animation-delay: .6s;
}

/* line 73, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #nde {
  animation-delay: .8s;
}

/* line 76, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #n {
  animation-delay: 1s;
  padding-right: 20px;
}

/* line 80, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #a {
  animation-delay: .2s;
}

/* line 83, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #r {
  animation-delay: .4s;
}

/* line 86, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #littleS {
  animation-delay: .6s;
}

/* line 89, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .info #titleDiv #h {
  animation-delay: .8s;
}

/* line 95, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .outericon {
  display: flex;
  justify-content: center;
}

/* line 98, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .outericon .icons {
  justify-content: space-around;
}

/* line 101, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.container-fluid .outericon .icons .icon {
  display: flex;
  justify-content: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    color: #202C39;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* line 122, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
* {
  box-sizing: border-box;
}

/* line 127, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.frame {
  width: 33%;
  height: 400px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #010122;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

/* line 139, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.frame:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* line 143, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.frame:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* line 149, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
#candleholder {
  display: flex;
  width: 100%;
}

/* line 153, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.flame {
  width: 20px;
  height: 30px;
  background: radial-gradient(orange, gold);
  border-radius: 10px 10px 10px 10px / 20px 20px 10px 10px;
  animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite, flicker 13s ease-in-out infinite;
}

/* line 162, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
#flame2 {
  width: 20px;
  height: 30px;
  background: radial-gradient(blue, white);
  border-radius: 10px 10px 10px 10px / 20px 20px 10px 10px;
  animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite, flicker 13s ease-in-out infinite;
}

/* line 170, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
#flame3 {
  width: 20px;
  height: 30px;
  background: radial-gradient(green, purple);
  border-radius: 10px 10px 10px 10px / 20px 20px 10px 10px;
  animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite, flicker 13s ease-in-out infinite;
}

/* line 178, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.wick {
  width: 3px;
  height: 6px;
  background: burlywood;
}

/* line 184, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.candle {
  width: 50px;
  height: 90px;
  background: lightgrey;
  border-radius: 5px;
  box-shadow: -7px 0 0 0 #999 inset;
}

/* line 192, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.bottom {
  width: 100px;
  height: 5px;
  background: #666;
  border-radius: 5px;
}

/* line 199, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
.focus {
  transform: scale(1.2);
}

@media (max-width: 992px) {
  /* line 204, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
  .wrapper {
    display: none;
  }
  /* line 208, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
  .mepic img {
    width: 80% !important;
  }
  /* line 212, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
  .icons {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  /* line 219, /Users/stevenmarsh/Desktop/itp302/personal-website/sass/aboutMe.scss */
  .icons {
    flex-direction: row;
  }
}

@keyframes wind {
  0%,
  22%,
  49%,
  62%,
  81%,
  100% {
    border-radius: 4px 15px 10px 10px / 20px 20px 10px 10px;
  }
  14%,
  32%,
  56%,
  70%,
  89% {
    border-radius: 14px 3px 10px 10px / 20px 20px 10px 10px;
  }
}

@keyframes size {
  0%,
  22%,
  49%,
  62%,
  81%,
  100% {
    transform: scale(1, 1);
  }
  14%,
  32%,
  56%,
  70%,
  89% {
    transform: scale(0.8, 1.3);
  }
}

@keyframes flicker {
  0%,
  22%,
  49%,
  62%,
  81%,
  100% {
    box-shadow: 0 0 15px 0 rgba(255, 202, 0, 0.7);
  }
  14%,
  32%,
  56%,
  70%,
  89% {
    box-shadow: 0 0 15px 0 rgba(255, 202, 0, 0.3);
  }
}

/*# sourceMappingURL=../css/aboutMe.map */