$tan: #B8B09D;
$nav: #202C39;
$light: #F2D492;

.mainbar{
	background-color: $nav;
}
.navbar-nav{
	width: 100%;
	justify-content: space-around;
	
	.nav-item{
		
		.nav-link{
			color: white !important;
		}
	}
}

.container-fluid{
	background-image: linear-gradient(to right, $tan, $light);

	.info{
		
		.mepic{
			width: 100%;
			display: flex;
			justify-content: center;
			padding-bottom: 30px;
			img{
				width: 35%;
				height: 300px;
			}
		}
		#titleDiv{
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 15px;
			margin-bottom: 20px;
			span{
				font-size: 65px;
				font-weight: bold;
				color: black;
				animation-name: fade;
				animation-duration: 2s;
				animation-iteration-count: 6;
			}
			#T{
				animation-delay: .2s;
			}
			#firstE{
				animation-delay: .4s;
			}
			#v{
				animation-delay: .6s;
			}
			#nde{
				animation-delay: .8s;
			}
			#n{
				animation-delay: 1s;
				padding-right: 20px;
			}
			#a{
				animation-delay: .2s;
			}
			#r{
				animation-delay: .4s;
			}
			#littleS{
				animation-delay: .6s;
			}
			#h{
				animation-delay: .8s;
			}
		}
	}

	.outericon{
		display: flex;
		justify-content: center;
		.icons{
			justify-content: space-around;

			.icon{
				display: flex;
				justify-content: center;
			}
		}
	} 
	#education{

		ul{
			background-color: #f5f5f5;
			border-radius: 10px;
			border: 1px solid $nav;
			width: 60%;
			display: inline-block;
			
		}
		#highschool{
			border-right: 2px solid grey;
			text-align: center;
			h2{
				font-family: cursive;
			}

		}
		#college{
			padding-top: 40px;
			border-left: 2px solid grey;
			text-align: center;
		}

	}

	#involvment{
		text-align: center;
		p{
			background-color:#f5f5f5;
			border-radius: 10px;
			border: 1px solid $nav;
			width: 60%;
		}
		h2{
			font-family: cursive;
		}
		.title{
			font-size: 20px;
			font-weight: bolder;
			margin-bottom: 10px;
		}
		#jep, #tmg{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#jep{
			padding-top: 25px;
			border-right: 2px solid grey;
		}
		#tmg{
			padding-top: 95px;
			border-left: 2px solid grey;
		}

	}	
		
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	50%{
		color: black;
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
* {
  box-sizing: border-box;
}


.frame {
	width: 33%;
	height: 400px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: rgba(1, 1, 34, .8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	border-radius: 50%;
}

#candleholder{
	display: flex;
	width: 100%;
}
.flame {
	width: 20px;
	height: 30px;
	background: radial-gradient(orange, gold);
	border-radius: 10px 10px 10px 10px / 20px 20px 10px 10px;
	animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite,
		flicker 13s ease-in-out infinite;
}

.wick {
	width: 3px;
	height: 6px;
	background: burlywood;
}

.candle {
	width: 50px;
	height: 90px;
	background: lightgrey;
	border-radius: 5px;
	box-shadow: -7px 0 0 0 #999 inset;
}

.bottom {
	width: 100px;
	height: 5px;
	background: #666;
	border-radius: 5px;
}

.focus{
	transform: scale(1.2);
}

@media(max-width: 992px){
	.wrapper{
		display: none;
	}
	.mepic{
		img{
			width: 80% !important;
		}
	}
	.icons{
		flex-direction: column;
	}

}

@media(max-width: 767px){
	#highschool, #college{
		border-right: none !important;
	}
	.container-fluid{
		.info{
			#titleDiv{
				span{
					font-size: 40px;
				}
			}
		}
	}
	
}
@keyframes wind {
	0%,
	22%,
	49%,
	62%,
	81%,
	100% {
		border-radius: 4px 15px 10px 10px / 20px 20px 10px 10px;
	}

	14%,
	32%,
	56%,
	70%,
	89% {
		border-radius: 14px 3px 10px 10px / 20px 20px 10px 10px;
	}
}

@keyframes size {
	0%,
	22%,
	49%,
	62%,
	81%,
	100% {
		transform: scale(1, 1);
	}

	14%,
	32%,
	56%,
	70%,
	89% {
		transform: scale(0.8, 1.3);
	}
}

@keyframes flicker {
	0%,
	22%,
	49%,
	62%,
	81%,
	100% {
		box-shadow: 0 0 15px 0 rgba(255, 202, 0, 0.7);
	}

	14%,
	32%,
	56%,
	70%,
	89% {
		box-shadow: 0 0 15px 0 rgba(255, 202, 0, 0.3);
	}
}
